# Application Configuration
APP_NAME=OpsDesk
ENVIRONMENT=development
DEBUG=True

# Database Configuration
POSTGRES_USER=opsdesk
POSTGRES_PASSWORD=opsdesk_secret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=opsdesk_db

# Security & JWT Secrets
SECRET_KEY=ODK
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30