# Application Configuration
APP_NAME=OpsDesk
ENVIRONMENT=local
DEBUG=true

# Database Configuration
POSTGRES_USER=opsdesk
POSTGRES_PASSWORD=changed
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=opsdesk

# Security & JWT Secrets
SECRET_KEY=ODK
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30